$darken: #575757
*
  font-family: 'Roboto', sans-serif
  box-sizing: border-box
h1
    text-align: center
    margin: 10px 0 0 0 
    color: $darken
.container
  max-width: 500px
  margin: 0 auto 5rem auto
  border-radius: 3px
  font-family: 'Roboto', sans-serif
  font-weight: 100