<h1>My ToDo App</h1>
<div class="container">
  <form>
      <input type="text" placeholder="ToDo text">
        <button type="submit"><span>+</span></button>
      
  </form>
  
  <div class="items">
    <div class="item">
      <div class="item-info">
        <input type="checkbox">
        <p>Item 1</p>
      </div>
      <button id="delete">╳</button>
    </div>
    <div class="item">
      <div class="item-info">
        <input type="checkbox">
        <p>Item 2</p>
      </div>
      <button id="delete">╳</button>
    </div>
    <div class="item">
      <div class="item-info">
        <input type="checkbox">
        <p>Item 3</p>
      </div>
      <button id="delete">╳</button>
    </div>
  </div>
</div>